body {
  margin: 2%;
}


img {
  height: 100%;
  width: 100%;
}

.h1-background {
  background: #333333;
}

#h1-overwrite {
  font-family: 'Zilla Slab', serif;
  color: #fff
}

h2,
button,
p {
  font-family: 'Poppins', sans-serif;
}

.col-sm-4 {
  border: 1px solid #000;
}

.load-btn {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.filter-nav > .col-sm-4 {
  padding: 10px 0 5px 0;
  border: none;
}

.filter-nav > .col-sm-4 > button,
.load-btn > .col-sm-12 > button {
  padding: 10px;
  background: #333333;
  color: #fff;
  border: 1px solid #333333;
}

.filter-nav > .col-sm-4 > button:hover,
.load-btn > .col-sm-12 > button:hover  {
  background: #fff;
  color: #333;
}

.filter-nav > .col-sm-4 > button:focus,
.load-btn > .col-sm-12 > button:focus {
  outline: none;
}

#main > .row > .col-sm-4 {
  padding: 25px;
  border: none;
}
